<?xml version="1.0"?>
<launch>
  <!-- The rpy in the comment uses the extrinsic XYZ convention, which is the same as is used in a URDF. See
       http://wiki.ros.org/geometry2/RotationMethods and https://en.wikipedia.org/wiki/Euler_angles for more info. -->

  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="0.0598298 -0.00838692 -0.040954   0.705361 -0.00163986 0.708843 0.0022212 $(arg arm_id)_hand_tcp camera_link" />
</launch>


